<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019189300813-af180k8ujr98sso0p95vqjaurnvilrp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019189300813-af180k8ujr98sso0p95vqjaurnvilrp0</string>
	<key>API_KEY</key>
	<string>AIzaSyCLY3P_zbmvANy1lBr7MhlfETUmN0L5Kps</string>
	<key>GCM_SENDER_ID</key>
	<string>1019189300813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahn.ahx-tiles</string>
	<key>PROJECT_ID</key>
	<string>ahx-tiles</string>
	<key>STORAGE_BUCKET</key>
	<string>ahx-tiles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019189300813:ios:130da9c509f75a99609604</string>
</dict>
</plist>